@supports (display: grid) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 5px;
  }
  .name {
    grid-row: 1/2;
  }
  .bio {
    grid-row: 2/3;
  }
  .nav-items {
    grid-row: 3/4;
  }
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .contact-form, .resume-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .name-label {
    grid-row: 1/2;
  }
  #name-form {
    grid-row: 2/3;
  }
  
  .email-label {
    grid-row: 3/4;
  }
  #email-form {
    grid-row: 4/5;
  }
  .message-label {
    grid-row: 6/7;
  }
  textarea{
    grid-row: 7/9;
  }
  .contact-button {
    grid-row: 9/10;
  }
  .portfolio-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .portfolio-nav-items {
    grid-row: 6/7;  
  }
  .project-image {
    grid-row: 1/3;
  }
  .pivot-cards {
    grid-row: 2/3;
  }
  .simon {
    grid-row: 3/4;
  }
  .timer {
    grid-row: 4/5;
  }
  .soundulator {
    grid-row: 5/6;
  }
  .resume-doc {
    grid-row: 2;
    justify-self: center;
  } 
  .page-title {
    grid-row: 1/2;
  }
} 
/* supports grid end */

html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: calc(16px);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #1f1f1f;
}
a {
  text-decoration: none;
  color: #526488;
}
.container {
  width: 100vw;
  min-height: 600px;
  padding: 0 5px 0 0;
  margin: 0 1em 0 0.5em;
}

/* about page */
/* ---------- */
.about-container {
  justify-content: space-between;
  align-items: start;
  margin-top: 10px;
  padding: 0 15px 0 5px;
}
header.name {
  margin-bottom: 20px;
}
.title {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  color: #526488;
  font-size: 4.5rem;
  line-height: 4rem;
  margin: 0;
}
.subtitle {
  color: #35495e;
  font-weight: 300;
  font-size: 4rem;
  word-spacing: 5px;
  margin-top: 0;
  padding-left: 5px;
  line-height: 4rem;
}
.bio {
  font-family: Quicksand, "Helvetica Neue", Helvetica ,sans-serif;
  font-size: 1.25rem;
  color: #8C8C8C;
  letter-spacing: 0.75px;
  align-self: end;
  }
.button--blue {
  position: relative;
  background-color: #526488;
  z-index: 1; 
  border-radius: 2px;
  border: none;
  padding: 16px 20px;
  margin-top: 8px;
  font-family: Quicksand, "Helvetica Neue", Helvetica ,sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsla(247, 38%, 91%, 0.5);
  letter-spacing: 0.76px; 
  transition: 0.6s ease;
}
.button--blue:hover {
  background-color: #697B9E;
  color: #FFF;
  cursor: pointer;
}
.circle-arrow {
  stroke-opacity: 0.5;
  transition: 0.6s ease;
}
.button--blue:hover .circle-arrow {
  stroke-opacity: 1;
}

svg.circle-arrow {
  padding-top: 5px;
}
img.profile-pic {
  display: none;
}
img.project-image{
  display: none;
}
.nav-items {
  color: #526488;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 1rem;
  padding: 60px 0 60px 0;
}
.nav-items span > a:hover, .portfolio-nav-items span > a:hover {
  transition: color 0.6s ease;
  cursor: pointer;
  color: #45C1F9;
}
.resume-svg, .contact-svg {
  width: 32px;
  height: 32px;
}
svg.github, svg.linkedin, svg.twitter {
  stroke: #526488;
  fill: #1f1f1f;
}
svg.github:hover {
  transition: 0.6s ease;
  stroke: #1F1F1F;
  fill: #9E9A98;
}
svg.linkedin:hover {
  transition: 0.6s ease;
  stroke: #1F1F1F;
  fill: #9E9A98;
}
svg.twitter:hover {
  transition: 0.6s ease;
  stroke: #1F1F1F;
  fill: #9E9A98;
}
.bio > p {
  margin: 0;
}
.nav-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.about-nav-items {
  flex: 0 0 50%;
}

/* contact page */
/* ------------ */
.contact-container {
  padding: 0 1em 0 1em;
}
.contact-form, .resume-container {
  padding-right: 1em;
}
.contact-nav-items {
  display: flex;
  justify-content: space-between;
}
input, textarea {
  border: 0;
  border-radius: 4px;
  padding: 3px;
  font-size: 2rem;
  font-family: "HelveticaNeue-Medium", Helvetica, Arial, sans-serif;
  color: #333;
  background: #EEE;
  overflow: hidden;
}
input:focus {
  outline: none;
  border-color: #45C1F9;
  box-shadow: 0 0 10px #45C1F9;
  background: #FFF;
}
textarea {
  -webkit-min-logical-height: 325px;
}
textarea:focus {
  outline: none;
  border-color: #45C1F9;
  box-shadow: 0 0 10px #45C1F9;
  background: #FFF;
}
label {
  font-size: 1.75rem;
  color: #526488;
}
@supports not (display: grid) {
  .contact-form {
    display: flex;
    flex-flow: row wrap;
  }
  input, textarea {
    flex: 0 0 87%;
    margin-bottom: 1em;
    margin-left: 3%;
  }
  .name-label, .email-label, .message-label {
    flex: 0 0 10%;
  }
  .contact-button {
    margin-left: 13%;
  }
}
/* PORTFOLIO PAGE */
/* -------------- */
.portfolio-container {
  padding: 0 15px 0 5px;
}
.portfolio-nav-items {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0 15px 0 0 ;
  font-weight: 300;
}
@supports not (display: grid) {
  .portfolio-nav-items {
  margin: 20px 0 60px 0;
  }    
}
.project-body {
  font-family: Quicksand, "Helvetica Neue", Helvetica ,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #EEE;
  margin-top: 10px; 
}
.project {
  background: #222;
  border: 2px solid #222;
  border-radius: 2px;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity  0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
}
.project:hover {
  cursor: pointer;
  opacity: 1;
}
.project-title {
  color: #45C1F9;
  text-decoration-line: underline;
  text-decoration-color: hsla(199, 94%, 62%,0.5);
  font-weight: 300;
  font-size: 2rem;
  word-spacing: 5px;
  line-height: 1rem;
  margin: 5px 0 0 0;
}
.page-title {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  color: #526488;
  font-size: 3rem;
  line-height: 2rem;
  margin-top: 20px;
}
.project-body {
  font-family: Quicksand, "Helvetica Neue", Helvetica ,sans-serif;
  font-size: 1rem;
  color: #EEE;
}
/* RESUME PAGE */
/* ----------- */
.resume-doc {
  margin-top:60px;
  padding-top: 20px;
  color: #8C8C8C;
}
.resume-doc > p {
  padding-left: 1em;
}
.error-label {
  color: rgb(156, 28, 28);
}
/* LARGER LAYOUT */
/* ------------- */
@media only screen and (min-width: 720px) {
  /* about page */
  @supports (display: grid) {
    .container{
      margin-bottom: 15px;
    }
    .about-container {
      grid-template-columns: 10% 1fr 10%;
      grid-template-rows: 10% 45% 45%;
    }
    .about, .portfolio, .resume, .contact, .socials{
      flex: 0 0 20%;
    }
    .name {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .bio {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .page-title {
      grid-row: 2/3;
      grid-column: 2/3;
      text-align: center;
    }
    /* contact page */
    .contact-container {
      grid-gap: 5px;
      grid-template-columns: 1fr;
      grid-template-rows: 15% 10% 1fr;
    }
    .contact-form {
      grid-column: 2/3;
      grid-row: 3/4;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, 25%);
      align-content: center;
      width: 100%;
    }
    .name-label, #name-form, .email-label, #email-form, .message-label {
      align-self: center;
    }
    .name-label {
      grid-row: 1/2;
      grid-column: 2/3;
      text-align: right;
    }
    #name-form {
      grid-row: 1/2;
      grid-column: 3/12;
    }
    .email-label {
      grid-row: 2/3;
      grid-column: 2/3;
      text-align: right;
    }
    #email-form {
      grid-row: 2/3;
      grid-column: 3/12;
    }
    .message-label {
      grid-row: 3/4;
      grid-column: 2/3;
      text-align: right;
    }
    textarea{
      grid-row: 3/4;
      grid-column: 3/12;
      height: 4em;
  
    }
    .contact-button {
      grid-row: 4/5;
      grid-column: 3/6;
      align-self: center;
    }
    /* resume page */
    .resume-container {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 10% 1fr 10%;
      grid-template-rows: 15% 10% 70%;
      justify-content: space-between;
    }
    .resume-doc {
      grid-column: 2/3;
    }
    /* portfolio page */
    .portfolio-container {
      display: grid;
      grid-row-gap: 10px;
      grid-template-columns: 10% 1fr 10%;
      grid-template-rows: 10% 10% repeat(4, 1fr);
      justify-content: space-between;
    }
    .nav-items {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-content: space-between;
      font-size: 1.5rem;
    }
    .portfolio-nav-items {
      grid-column: 2/3;
      grid-row: 1/2;
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between;
      padding: 60px 0 10px 0;
    }
    .about, .portfolio, .resume, .contact {
      flex: 0 0 25%;
    }
    .pivot-cards {
      grid-row: 3/4;
      grid-column: 2/3;
      
    }
    .simon {
      grid-row: 4/5;
      grid-column: 2/3;
      
    }
    .timer {
      grid-row: 5/6;
      grid-column: 2/3;
      
    }
    .soundulator {
      grid-row: 6/7;
      grid-column: 2/3;
      
    }
    .project {
      display: grid;
      grid-gap: 2px;
      grid-template-rows: 20px 1fr;
      grid-template-columns: repeat(4, 1fr);
      background: #222;
      border: 2px solid #222;
      border-radius: 2px;
      -webkit-transition: opacity 0.6s;
      -moz-transition: opacity  0.6s;
      transition: opacity 0.6s;
      opacity: 0.6;
    }
  
    .project-image {
      grid-row: 1/3;
      grid-column: 1/2;
    }
    .project-title {
      grid-row: 1/2;
      grid-column: 2/5;
    }
    .project-body {
      grid-row: 2/3;
      grid-column: 2/5;
    }
  } /*supports grid end */

  header.name {
    margin-bottom: 0;
  }
  img.profile-pic {
    display: block;
    float: left;
  }
  img.project-image {
    display: block;
  }
  @supports not (display: grid) {
    img.project-image {
      padding-bottom: 5px;
    }
  }
  .nav-items svg {
    margin-right: 10px;
  }
  .socials {
    padding-top: 2px;
    display: flex;
    flex-flow: nowrap;
  }
  .title {
    text-align: left;
  }
  .subtitle {
    text-align: left;
    padding-left: 155px;
  }
  .contact-page-title {
    margin: 20px;
  }
  .contact-nav-items {
    margin-left: 10%;
  }
  .project:hover {
    cursor: pointer;
    opacity: 1;
  }
  .project-title {
    color: #637599;
    font-weight: 300;
    font-size: 2rem;
    word-spacing: 5px;
    line-height: 1rem;
    margin: 5px 0 0 0;
    text-decoration-line: none;
  }
  .project-body {
    margin-top: 10px;
  }
}
